# Игнорировать системные файлы и временные папки
[Oo]bj/
[Bb]in/
bin/
obj/
.vs/
.vscode/
*.user
*.suo

# Игнорировать собранные бинарники и отладочные файлы
*.exe
*.dll
*.pdb

# Игнорировать файлы, создаваемые системой (например, логи)
*.log

# Дополнительные файлы, которые часто стоит игнорировать
packages/
*.cache
*.swp  # Файлы подкачки Vim
*~     # Резервные копии Emacs

# Игнорировать файлы настроек ОС (если применимо)
.DS_Store # macOS